seedofr/__pycache__/admin.cpython-37.pyc
mysite/__pycache__/__init__.cpython-37.pyc
mysite/__pycache__/settings.cpython-37.pyc
mysite/__pycache__/urls.cpython-37.pyc
mysite/__pycache__/wsgi.cpython-37.pyc
seedofr/__pycache__/__init__.cpython-37.pyc
seedofr/__pycache__/forms.cpython-37.pyc
seedofr/__pycache__/models.cpython-37.pyc
seedofr/__pycache__/urls.cpython-37.pyc
seedofr/__pycache__/views.cpython-37.pyc
seedofr/migrations/__pycache__/__init__.cpython-37.pyc
